  <div class="form-group">
    <label for="ShortDescript">Short Description</label>
    <input type="text" class="form-control" id="ShortDescript">
  </div>
  <div class="form-group">
    <label for="ReportDescript">Report Description</label>
    <input type="password" class="form-control" id="ReportDescript">
  </div>
  <div class="form-group">
      <label for="Work">Work to be Preformed & Justification</label>
      <input type="text" class="form-control" id="WorkPreformed">
    </div>

  <div class="form-row">
    <div class="form-group col-md-4">
        <label for="RUS CWP#">RUS CWP#</label>
        <input type="password" class="form-control" id="pwd">
    </div>
    <div class="form-group col-md-4">
        <label for="ref">Reference</label>
        <input type="password" class="form-control" id="ref">
    </div>
  </div>

