<app-accordion-element (opened)="opened()">
  <app-type></app-type>
</app-accordion-element>
<app-accordion-element (opened)="opened()">
  <app-general-and-budget-information></app-general-and-budget-information>
</app-accordion-element>
<app-accordion-element (opened)="opened()">
  <h1>Hello World</h1>
</app-accordion-element>
<app-accordion-element (opened)="opened()">
  <h1>Hello World</h1>
</app-accordion-element>
<app-accordion-element (opened)="opened()">
  <h1>Hello World</h1>
</app-accordion-element>
